.carousel {
    width: 700px;
    height: 700px;
    margin: auto;
}

.carousel img {
    height: 700px;
    width: 400px;
    filter: blur(2px);
    object-fit: cover;
}

.carousel h3, .carousel p {
    background-color: rgba(36, 36, 36, 0.568);
}

